@model IGrid<OfferManagement.Models.MissedCallGrid>

@{
    ViewBag.Title = @System.Configuration.ConfigurationManager.AppSettings["MissedCallsInformation"];
}
<div class="text-center"><h2>@ViewBag.Title</h2></div>

<script>
    $(document).ready(function () {
        if ('@ViewBag.ExportPermission' == 'True') {
            $("#divExport").show();
        }
        else {
            $("#divExport").hide();
        }

        if ('@ViewBag.NotRespondedCheckBox' == 'True') {
            $("#chkResponded").attr('checked', true);
        }
        else {
            $("#chkResponded").attr('checked', false);
        }

        setTimeout(function () {
            new MvcGrid(document.querySelector('.mvc-grid')).reload();
        }, parseInt(@System.Configuration.ConfigurationManager.AppSettings["ReloadTimeInMs"]));

        $(document).on("click", "#chkResponded", function (e) {
            if (document.getElementById("chkResponded").checked) {
                $.ajax({
                    url: "/CRMCalls/GetNonResondedMissedCalls",
                    type: "GET",
                    success: function (result) {
                        new MvcGrid(document.querySelector('.mvc-grid')).reload();
                    }
                })
            }
            else
            {
                $.ajax({
                    url: "/CRMCalls/MissedCallsInformation",
                    type: "GET",
                    success: function (result) {
                        new MvcGrid(document.querySelector('.mvc-grid')).reload();
                    }
                })
            }
        });

         $(document).on("click", "#btnModalPopup", function (e) {

             var callId = $(this).data('id');

             console.log(callId);

            var route = '@Url.Action("PrepareModalPopup", "CRMCalls")?id=' + callId;

            $('#partial').load(route);

            $('#validCallsModal').modal('show');

        });

    });
</script>

<div class="container">
    <input type="checkbox" id="chkResponded" value="Responded">
    <label id="lblResponded">Not Responded</label>
</div>

<div class="container" id="divExport">
    <a style="float: right;" href="@(Url.Action("ExportMissedCalls") + "?" + ViewContext.HttpContext.Request.QueryString)">Export</a>
</div>
<br />

<div id="divMissedCallsGrid">
    @(new HtmlGrid<OfferManagement.Models.MissedCallGrid>(Html, Model))
</div>

<!-- Modal -->
<div class="modal fade" id="validCallsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-center" id="exampleModalLabel"> @System.Configuration.ConfigurationManager.AppSettings["ValidCallsInformationEdit"]</h3>
            </div>
            <div class="modal-body">
                <div class="container" id="partial">
                    @*@Html.Partial("ValidCallsInformationEdit", Session["ValidCallsEdit"])*@
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnmdlclose" class="btn btn-info" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

