@model IGrid<OfferManagement.Models.MissedCallGrid>

@{
    ViewBag.Title = @System.Configuration.ConfigurationManager.AppSettings["MissedCallsInformation"];
}
<div class="text-center"><h2>@ViewBag.Title</h2></div>

<script>
    $(document).ready(function () {

        if ('@ViewBag.ExportPermission' == 'True') {
            $("#divExport").show();
        }
        else {
            $("#divExport").hide();
        }


        var grid = new MvcGrid(document.querySelector('.mvc-grid'));
        console.log(grid);


        setTimeout(function () {
            new MvcGrid(document.querySelector('.mvc-grid')).reload();
           
        }, 5000);

        document.addEventListener('rowclick', function (e) {
            console.log('data: ', e.detail.data);
            console.log('grid: ', e.detail.grid);
            console.log('original event: ', e.detail.originalEvent);
        });

    });

   



    document.addEventListener('reloadstart', function (e) {
        console.log('grid: ', e.detail.grid);
        console.log('grid: ', e.detail.grid);

    });

    document.addEventListener('reloadend', function (e) {
        console.log('grid: ', e.detail.grid);
    });

    document.addEventListener('reloadfail', function (e) {
        console.log('grid: ', e.detail.grid);
        console.log('failed ajax response result: ', e.detail.result);
    });
</script>



<div class="container" id="divExport">
    <a style="float: right;" href="@(Url.Action("ExportIndex") + "?" + ViewContext.HttpContext.Request.QueryString)">Export</a>
</div>
<br />
<div>
    @(new HtmlGrid<OfferManagement.Models.MissedCallGrid>(Html, Model))
</div>



