@model IGrid<OfferManagement.Models.ValidCall>

@{
    ViewBag.Title = @System.Configuration.ConfigurationManager.AppSettings["ValidCallsInformation"];
}
<div class="text-center"><h2>@ViewBag.Title</h2></div>

<script>
    $(document).ready(function () {
        
        function ReloadGrid()
        {
            new MvcGrid(document.querySelector('.mvc-grid')).reload();
        }

        if ('@ViewBag.ExportPermission' == 'True') {
            $("#divExport").show();
        }
        else {
            $("#divExport").hide();
        }

        if ('@ViewBag.IsFilterSelected' == 'True') {
            $("#chkResponded").attr('checked', true);
        }
        else {
            $("#chkResponded").attr('checked', false);
        }


        //ReloadTimeInMs

        setTimeout(function () {
            if (!$('#validCallsModal').hasClass('in')) {
                new MvcGrid(document.querySelector('.mvc-grid')).reload();
            }}, parseInt(@System.Configuration.ConfigurationManager.AppSettings["ReloadTimeInMs"]));

        $(document).on("click", "#chkResponded", function (e) {
            if (document.getElementById("chkResponded").checked) {
                $.ajax({
                    url: "/CRMCalls/FilterValidCallsInformation",
                    type: "GET",
                    success: function (result) {
                        ReloadGrid();
                    }
                })
            }
            else {
                $.ajax({
                    url: "/CRMCalls/ValidCallsInformation",
                    type: "GET",
                    success: function (result) {
                        ReloadGrid();
                    }
                })
            }
        });

        $(document).on("click", "#btnModalPopup", function (e) {

            var callId = $(this).data('id');

            var route = '@Url.Action("PrepareModalPopup", "CRMCalls")?id=' + callId;

            $('#partial').load(route);

            $('#validCallsModal').modal('show');

        });

        $(document).on("click", "#btnmdlclose", function (e) {

          //new MvcGrid(document.querySelector('.mvc-grid')).reload();

        });


        });


</script>

<style>

    .mvc-grid-excel-mode .sortable.filterable {
        padding-right: 2em !important;
    }
</style>


<div class="container">
    <input type="checkbox" id="chkResponded" value="Responded">
    <label id="lblResponded">Requires Follow Up</label>
</div>

<div class="container" id="divExport">
    <a style="float: right;" href="@(Url.Action("ExportValidCalls") + "?" + ViewContext.HttpContext.Request.QueryString)">Export</a>
</div>
<br />
<div class="table-responsive">
    @(new HtmlGrid<OfferManagement.Models.ValidCall>(Html, Model))
</div>

<!-- Modal -->
<div class="modal fade" id="validCallsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-center" id="exampleModalLabel"> @System.Configuration.ConfigurationManager.AppSettings["ValidCallsInformationEdit"]</h3>
            </div>
            <div class="modal-body">
                <div class="container" id="partial">
                    @*@Html.Partial("ValidCallsInformationEdit", Session["ValidCallsEdit"])*@
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnmdlclose" class="btn btn-info" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


