@model IGrid<OfferManagement.Models.ValidCall>

@{
    ViewBag.Title = @System.Configuration.ConfigurationManager.AppSettings["ValidCallsInformation"];
}
<div class="text-center"><h2>@ViewBag.Title</h2></div>

<script>
    $(document).ready(function () {

        if ('@ViewBag.ExportPermission' == 'True') {
            $("#divExport").show();
        }
        else {
            $("#divExport").hide();
        }
    });

    document.addEventListener('rowclick', function (e) {
        console.log('data: ', e.detail.data);
        console.log('grid: ', e.detail.grid);
        console.log('original event: ', e.detail.originalEvent);
    });


</script>



<div class="container" id="divExport">
    <a style="float: right;" href="@(Url.Action("ExportIndex") + "?" + ViewContext.HttpContext.Request.QueryString)">Export</a>
</div>
<br />
<div>
    @(new HtmlGrid<OfferManagement.Models.ValidCall>(Html, Model))
</div>



